.見出し {
font-family: 'Luckiest Guy', cursive;
}

.本文 {
font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*ボックス全体*/
.accbox {
    margin: 2em 0;
    padding: 0;
    max-width: 600px;/*最大幅*/
}

/*ラベル*/
.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 11px 12px;
    color :#000000;
    font-weight: bold;
    background :#f7a24d;
    cursor :pointer;
    transition: all 0.5s;
}

/*ラベルホバー時*/
.accbox label:hover {
    background :f7a24d;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: f7a24d;
    opacity: 1;
}
