body {
  background-image: url("koma4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.example {
  position: relative;
  }

.example p {
  position: absolute;
  color: white;/*文字は白に*/
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.example img {
  width: 100%;
  }
